openapi: 3.0.3

info:
  version: v1.0
  title: SofTask
  license:
    name: MIT
  contact:
    name: Elizabeth Paige Harper
    email: eph@softask.app

servers:
  - url: https://softask.app/api/v1

tags:
  - name: Authentication
    description: API authentication endpoints
  - name: Documentation
    description: API documentation endpoints
  - name: Tasks
    description: Task management endpoints

paths:
  /:
    description: Renders this API doc.
    get:
      tags:
        - Documentation
      summary: API Docs
      responses:
        200:
          description: Success response
          content:
            text/html:
              schema:
                type: string
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: types/errors/500.json

  /types:
    description: |
      Expose the JSON schema definitions for the types used by this API.
    get:
      tags:
        - Documentation
      summary: JSON Schema Type List
      responses:
        200:
          description: Success Response
          content:
            application/json:
              schema:
                $ref: types/uri/api/types/get-res.json
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: types/errors/500.json

  /types/{type-id}:
    description: Shows the JSON schema for the specified type by id.
    parameters:
      - name: type-id
        in: path
        description: ID of the JSON schema type to render.
        schema:
          type: string
        required: true
        allowEmptyValue: false
    get:
      tags:
        - Documentation
      summary: JSON Schema Type
      responses:
        200:
          description: Success Response
          content:
            application/json:
              schema:
                $ref: "http://json-schema.org/draft-07/schema#"
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: types/errors/404.json
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: types/errors/500.json

  /auth/login:
    post:
      tags:
        - Authentication
      summary: Login
      requestBody:
        description: Login Request Payload
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
                - email
                - password
      responses:
        200:
          description: Success Response
          content:
            application/json:
              schema:
                $ref: types/uri/auth/login/post-res.json
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: types/errors/400.json
        401:
          description: Unauthorized
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: types/errors/500.json

  /auth/logout:
    post:
      tags:
        - Authentication
      summary: Logout
      responses:
        204:
          description: Success Response
        401:
          description: Unauthorized
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: types/errors/500.json

  /auth/auto:
    post:
      tags:
        - Authentication
      summary: Trusted Device Auth
      requestBody:
        description: Auth Request Payload
        content:
          application/json:
            schema:
              $ref: types/uri/auth/auto/post-req.json
      responses:
        200:
          description: Success Response
          content:
            application/json:
              schema:
                $ref: types/uri/auth/auto/post-res.json
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: types/errors/400.json
        401:
          description: Unauthorized
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: types/errors/500.json

  /auth/device:
    post:
      tags:
        - Authentication
      summary: Trust A Device
      responses:
        200:
          description: Success Response
          content:
            application/json:
              schema:
                $ref: types/uri/auth/auto/post-res.json
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: types/errors/400.json
        401:
          description: Unauthorized
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: types/errors/500.json

  /users/{user-id}:
    get:
      summary: User Details
      security:
        - ApiKeyAuth: []
      responses:
        200:
          description: Success Response
        401:
          description: Unauthorized
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: types/errors/404.json
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: types/errors/500.json

  /tasks:
    post:
      summary: Create a Task
      responses:
        200:
          description: Success Response
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: types/errors/400.json
        401:
          description: Unauthorized
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: types/errors/500.json

  /tasks/assigned:
    get:
      summary: List Assigned Tasks
      responses:
        200:
          description: Success Response
        401:
          description: Unauthorized
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: types/errors/500.json

  /tasks/created:
    get:
      summary: List Created Tasks
      responses:
        200:
          description: Success Response
        401:
          description: Unauthorized
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: types/errors/500.json

  /tasks/{task-id}:
    get:
      summary: Task Details
      responses:
        200:
          description: Success Response
        401:
          description: Unauthorized
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: types/errors/404.json
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: types/errors/500.json

  /tasks/{task-id}/steps:
    get:
      summary: Step List
      responses:
        200:
          description: Success Response
        401:
          description: Unauthorized
        404:
          description: Not Found
          content:
            application/json:
              schema:
                $ref: types/errors/404.json
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: types/errors/500.json


components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY